<header class="navbar navbar-fixed-top navbar-inverse" ng-controller="ScenariosCtrl">
    <div class="container-fluid head-main">
      <div class="head" style="height:60px; width:100vw;">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <div class="navbar-collapse nav-collapse collapse">
        <ul class="nav navbar-nav">
              <li class="head-title client-logo"><a href="#/dashboard"> <img src="{{stack.companyLogo}}" width="150px;"></a></li>
              <li class="head-title"><a href="#/dashboard" >Dashboard</a></li>
              <li class="head-title"><a href="#/simulator">Simulator</a></li>
              <li class="head-title title-active"><a href="#/scenarios" style="color:#fff;">My Scenarios</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown head-title">
            <button type="button" class="head-title btn dropdown-toggle">
              Hi {{stack.userName}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><button ng-click="logout()">Logout</button></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    </div>
</header>
<link rel="stylesheet" href="styles/loader.css">
<ul class="loader" ng-hide="loaded">
  <li class="load"></li>
  <li class="load"></li>
  <li class="load"></li>
</ul>
<div class="container" ng-show="loaded">
        <div class="container" style=" margin:100px auto;float:none;">
          <div class="row filter-panel">
            <div class="span12 filters">
                <h4><strong>Saved Scenarios</strong></h4>
            </div>
          </div>
          <div class="row list-panel" ng-show="load">
            <div class="span12 lists no-margin">
                <div class="scenario span12" ng-repeat="scenario in scenarios" >
                    <div class="scenario-content">
                        <div class="span12">
                          <h4>{{scenario.title}}</h4>
                        </div>
                        <div class="span8">
                            <p>{{scenario.desc}}</p>
                        </div>
                        <div class="span4">
                          <div class="scenario-load" ng-hide="load">
                            <button class="btn-success" onclick="window.location.href='#/simulator'">{{load}}</button>
                          </div>
                        </div>
                    </div>
                </div>

              <div class="row">
                <h4>No Scenarios available.</h4>
              </div>

            </div>
          </div>
        </div>
      </div>
