@font-face {
    font-family:FontAwesome;
    src: url(FontAwesome.otf);
}

.header_cont{
	height: 50px;


}
.grph_cont{
	height: 60px;
	padding: 0px;
}
.dashboard_cont{
	height: 440px;
	border:solid 1px #c0c0c0;
	margin-top: 5px;
}
.side_widgt{
	height: 247px;
	border:solid 1px #c0c0c0;
	margin:5px;
	width: 32.333333%;

}
.fotter_cont{
	height: 30px;
	/*border:solid 1px #c0c0c0;*/

}
.portfolio_cont{
	margin-top: -60px;
}
.container{
	width:1024px!important;
	min-width: 1024px!important;
}
.port_grph_sub_cont{
	height: 86%;
}
.port_per_cont{
	height: 38px;
	width: 100%;
	font-size: 23px;
	text-align: center;
}
.port_text_cont{
	width: 100%;
	height: 26px;
	margin-top: 10px;
	font-weight: bold;
}
.port_bar_cont{
	width: 100%;
	height: 140px;

}
.port_bar{
	height: 100%;
	width: 50px;
	float: left;
    margin-right: 5px;
}
.graph_sub_cont{
	height: 100%;
	padding: 2px;
	border:solid 1px #ccc;
	-moz-box-shadow:    inset 0 27px 38px #f0f0f0;
   -webkit-box-shadow: inset 0 27px 38px #f0f0f0;
   box-shadow:         inset 0 27px 38px #f0f0f0;
}
.port_heading_cont {
	border-bottom:solid 1px #c0c0c0;
	height: 30px;
}
.port-text{
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	margin: 3px 0px 0px 5px;
}
.grap-idt{
	height: 100%;
	float: right;
	margin-top: -26px;

}
.port_size{
	width:70px;
	margin-right: 5px;
}
.idt {
	height: 13px;
	width: 13px;
	margin-top: 9px;
}
.col_gr {
	background-color: #a2a2a2;
}
.col_bl{
	background-color: #0266c8;
}
.b_text{
	font-size: 11px;
	font-weight: bold;
	margin-top: -14px;
	margin-left: 14px;
}
.flo_lft{
	float:left;
}
.flo_rit{
	float: right;
}
.project_name{
	height: 100%;
	width:200px;

}
.project_name h4 {
	font-size: 16px;
	font-weight: bold;
}
.tab_cont {
	height: 100%;
	width: 720px;
}
.btn {
	border-radius: 10px;
	padding: 3px 5px;
	font-size :13px;
}
.gren {
	background-color: #11e65e;
	color: #fff;
	border: solid 1px #34a220;
	margin-right: 4px;
}
.main-tab{
	margin-right: 10px;
}
.main-tab:hover {
	background-color: #25b9ff;
	color: #fff;
}
.pro_chang_cont{
	padding: 0px;
	border:0px;
}
.pro_chang_hedr {
	height: 21%;
	width:50%;
	/*border: solid;*/
	float: left;
	background-color: #fff;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
}
.pro_chang_box {
	width: 100%;
	height: 80%;
	background-color: #fff;
	float: left;
	border-left: solid 1px;
	border-right: solid 1px;
	border-bottom: solid 1px;
}
#pro_cont{
	display: block;
	border-color: #c9c9c9;
}
#chang_cont{
	display: none;
	border-color: #c9c9c9;
}
.inactive{
	border-left:solid 0px;
	border-right: solid 0px;
	border-top: solid 0px;
	border-bottom: solid 1px;
	border-color: #c9c9c9;
	color: #c0c0c0;
}
.active{
	border-left:solid 1px;
	border-right: solid 1px;
	border-top: solid 1px;
	border-bottom: solid 0px;
	border-color: #c9c9c9;
}
.vol_val_text {
	height: 100%;
	width:70px;
	font-size: 13px;
	font-weight: bold;
	line-height: 25px;
	padding-left: 5px;
	float: left;
}
.top_grph_cont{
	height: 100%;
	width: 200px;
	float: left;
}
.bar {
	width: 100%;
	height: 20px;
	margin-top: 5px;
}
.blue_b {
	background-color: #25b9ff;
}
.gray_b{
	background-color: #c0c0c0;
}
.top_per_val{
	height: 100%;
	width:60px;
	float: left;
	line-height: 53px;
	font-size: 28px;
	text-align: center;
}
.dash_tab{
	height: 36px;
}
.dash-tabs{
	height: 100%;
	width: 96px;
	background-color: #eee;
	float: left;
	margin-right: 1px;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}
.tab_active{
	background-color: #25b9ff;
	color: #fff;
	font-weight: bold;
}
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}

.dash_hder{
	border: solid 1px #c0c0c0;
	height: 26px;
	line-height: 23px;
}
.comb{
	width: 253px;
	height: 100%;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.comb_hdr{
	width: 84px;
	margin-right: 1px;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}
.comb_hdr_text{
	margin-left: 15px;
}
.f_btn {
	font-size:13px;
	margin-left:60px;
	cursor: pointer;
	float: left;
}
.fa {
	cursor: pointer;
}
.combination{
	height: 48px;
	border-bottom: solid 1px #c0c0c0;
	padding: 0;
}
.comb_name{
	width: 243px;
	height: 100%;
	float: left;
	color: #000;
	line-height: 42px;
	margin-left: 15px;

}
.comb_eye{
	float: left;
	margin-left: -30px;
	height: 15px;
	width: 20px;
	margin-top: 13px;
	color: #7c7c7c;
	cursor: pointer;
}
.num_in {
  display:inline-block;
	width: 80px;
	text-align: center;
}
.mar{
	margin-top: 10px;
}
/*
input[type=number]::-webkit-inner-spin-button{
	display: inline-block;
}
input[type=number]::-webkit-outer-spin-button {
  display:none;
}*/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    height: 20px;
    color: red;
    text-align:center;
    position:relative;

}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
}

input[type=number]::-webkit-inner-spin-button:before {
    top:3px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:-5px;
    right: 0px;
    -webkit-transform: rotate(180deg);

}
.dash{

}
input[type=number]{
	border:solid 1px red;
	text-align: center;
  height:30px;
  width:45px;
}
.norm{
	font-style: normal;
}

#asd li:nth-child(odd) {
 	background: #f0f0f0;
  }
  .list-group-item:first-child{
  	border-radius: 0;
  }
.eye_popup{
	display: none;
	position: absolute;
	width:706px;
	height:130px;
	left:0px;
	top: 0px;
	background-color: #fff;
	z-index: 150;
	padding: 10px;
	border-radius: 10px;
	border:solid 1px #444;
}
.eye_sub_hdr{
	margin:0;
	background-color: #444;
	color: #fff;
}
.sub-eye{
	height:80px;
	border:solid 1px #e6e6e6;

}
#back_blur{
	height: 131%;
	width: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #000;
	opacity: .7;
}
.eye_comb_hdr{
	width: 84px;
	margin-right: 1px;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}
.eye_comb_name{
	font-weight: normal;
	width: 70%;
}
.addCombo{
	width: 450px;
	height: 350px;
	background-color: #fff;
	margin-left: 00px;
	margin-top: 0px;
}
.addCombocont{
	display: none;
	width: 700px;
	height: 350px;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	z-index: 150;
}
.createCombo{
	width: 435px;
	height: 350px;
	background-color: #fff;
	margin-top: 0px;
	margin-left: 0px;



}
.save_scen{
	width:300px;
	height: 182px;
	background-color: #fff;
	z-index: 150;
	display: none;
	border:solid 1px #000;
	position: absolute;
	margin-right: -300px;
	border-radius: 10px;
}
.scen-new_name{
	width: 280px;
	margin-left: 20px;
	margin-top: 20px;
}
.scen_textarea{
	margin-left: 20px;
}
.pro_table th{
   font-weight: normal;
   padding-left: 10px;
   text-align: center;
   padding-bottom: 5px;
}
.pro_table td{
	padding-left: 10px;
	text-align: center;
	padding-bottom: 3px;
}
.number_chang_combo{
	float: left;
	margin-left: 10px;
}
.chng-comb{
}
.chng-comb th{
	padding-left: 5px;
	text-align: center;
}
.chng-comb td{
	padding: 5px;
	text-align: center;
	overflow: hidden;
}
.addCombohdr {
   width: 100%;
   height: 45px;
}
.addCombotabCont{
	width: 100%;
	height: 30px;
	border-bottom: solid 1px #25b9ff;
}
.addCombotabs{
	width: 50%;
	height: 100%;
	color: #25b9ff;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
	float: left;
	line-height: 30px;
}
.addcomboaactive {
	background-color:#25b9ff;
	color: #fff;
}
.addcombCont{
	width: 100%;
	height: 275px;
    overflow: scroll;
}
#addmycombocont{
	display: none;
}
#addMMMrecocont{

}
.addcombolist{
	padding-left: 10px;
	padding-top: 4px;
	color: #444;
}
.createcombolist{
	padding-left: 10px;
	padding-top: 4px;
	color: #444;
}
.createcombolist:hover {
	background-color: #444;
	color: #fff;
}
.addcombolist:hover {
	background-color: #444;
	color: #fff;
}
.addcombohdrtxt{
	font-weight: bold;
	font-size: 17px;
	height: 100%;
	line-height: 43px;
	padding-left: 15px;width: 325px;
}
.addcombodetails{
	display: none;
	height: 300px;
	width: 260px;
	background-color: #fff;
	margin-left: 453px;
	margin-top: 0px;
	position: absolute;
	top:50px;
}
.addcomb_details_hdr{
	width: 100%;
	height: 35px;
	border-bottom: solid 1px #25b9ff;
	color: #000;
	font-weight: bold;
    line-height: 35px;
    text-align: center;

}
.creteCombocont{
	display: none;
	width: 850px;
	height: 350px;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -435px;
	z-index: 150;
}
.addcreatecombotext{
	width: 300px;
}
.createedit{
	float: right;
	margin-top: -24px;
	margin-right: 5px;
	cursor: pointer;
}
.createedit:hover{
	color: #25b9ff;
}
#createmycombocont{
	display: none;
}
.pencilright{
	margin-right: 35px;
}
.createcomboeditcont{
	display:none;
	position: absolute;
	width: 400px;
	height: 350px;
	background-color: #fff;
	top: 0;
	left: 448px;
	padding: 5px;
}
.create_combo_edit_hdr{
	width: 100%;
	height: 40px;
	color: #444;
	padding-top: 5px;
}
.create_cobo_cancel{
	font-weight: normal;
	font-size: 13px;
	width: 100px;
	float: left;

}
.create_combo_edit_hdr_txt{
	font-size: 18px;
	font-weight: bold;
	width: 200px;
	float: left;
	text-align: center;
}
.create_combo_sltr_cont{
	width: 100%;
	border:solid 1px #c0c0c0;
}
.color_fade{
	background-color: #c0c0c0;
}
.combo_options_cont{
	width: 100%;
	height: 52px;
}
.combo_option_shell{
	width: 82px;
	height: 99%;
    float: left;
    margin-left: 3px;
}
.combo_option{
	width: 38px;
	height: 23px;
	float: left;
	border: solid 1px green;
	margin-left: 2px;
	margin-top: 2px;
}
/*--------------------------------*/
.navbar-fixed-top{
	background-color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
